version: '3.4'
services:
  prysm-beacon-chain-prater.avado.dnp.dappnode.eth:
    image: 'prysm-beacon-chain-prater.avado.dnp.dappnode.eth:0.0.6'
    build:
      context: ./build
      args:
        VERSION: v2.0.5
    volumes:
      - 'data:/data'
    ports:
      - '12001:12001/udp'
      - '13001:13001'
      - '4000'
    restart: always
    environment:
      - >-
        EXTRA_OPTS=--http-web3provider=http://my.goerli-geth..my.ava.do:8545/
        --grpc-gateway-corsdomain=http://prysm-beacon-chain-prater..my.ava.do,http://eth2validator.my.ava.do
volumes:
  data: {}
